@import "tailwindcss";

@font-face {
  font-family: "Cera Pro";
  src: url("../assets/fonts/CeraPro-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../assets/fonts/CeraPro-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../assets/fonts/CeraPro-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../assets/fonts/CeraPro-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../assets/fonts/CeraPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../assets/fonts/CeraPro-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../assets/fonts/CeraPro-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../assets/fonts/CeraPro-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../assets/fonts/CeraPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../assets/fonts/CeraPro-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../assets/fonts/CeraPro-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../assets/fonts/CeraPro-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-Cera: "Cera Pro", system-ui, sans-serif;

  --color-green-100: #46a358;
  --color-black-100: #3d3d3d;
  --color-black-90: #727272;
  --color-milk-100: #f5f5f580;
}

.button {
  @apply flex items-center gap-2 font-medium bg-green-100 text-white py-2 px-4 rounded-2xl transition-all duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg active:scale-95 active:shadow-inner;
}

.side {
  @apply container mx-auto px-6;
}
